
* {
    font-family: 'Open Sans', sans-serif;
}

.header1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: lowercase;
}

.header2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-transform: lowercase;
}

.body1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.body2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.body3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.main {
    max-width: 1200px;
    display: inline-block;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.section {
    border: 1px solid #dddddd;
    display: block;
    padding: 32px;
    margin: 0 0 32px 0;
}

.TOC table {
    outline: 1px solid #4fc1b1;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.TOC caption {
    border-bottom: 1px solid #4fc1b1;
}

.TOC th,
.TOC td {
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
    padding: 8px 16px;
}

.TOC tr:nth-child(even) {
    background-color: #cbe9e3;
    border: none;
}

.TOC td:hover {
    background-color: #4fc1b1;
    color: white;
    cursor: pointer;
}

.dataTable table {
    outline: 1px solid #4fc1b1;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dataTable caption {
    border-bottom: 1px solid #4fc1b1;
}

.dataTable th,
.dataTable td {
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
    padding: 8px 16px;
}

.dataTable tr:nth-child(even) {
    background-color: #cbe9e3;
    border: none;
}

.dataTable tr:hover {
    background-color: #4fc1b1;
    color: white;
    cursor: pointer;
}

.smTable th,
.smTable td {
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
    padding: 4px 8px;
}

.smTable h2 {
    margin: 4px;
    padding: 0;
    font-size: 21px;
}

.lgTable th,
.lgTable td {
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
    padding: 16px 32px;
}

.lgTable h2 {
    margin: 24px;
    padding: 0;
}

.square {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 2px;
}

h1 {
    text-align: center;
    color: #4fc1b1;
}

h3 {
    font-weight: 400;
    margin: 32px 0 8px 0;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: #4fc1b1 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active {
    border-bottom: #4fc1b1 1px dashed;
    background-color: #cbe9e3
}

.accordion:hover {
    background-color: #cbe9e3;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.colours {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons {
    display: inline-block;
}

.lgBtn,
.lgBtnTxtIcon {
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    height: 48px;
    width: 190px;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
}

.lgBtnIcon {
    font-weight: bold;
    border: none;
    color: white;
    padding: 8px 48px;
    margin: 0 16px;
    cursor: pointer;
    height: 48px;
    width: auto;
    outline: none;
    border-radius: 50px;
}

.mdBtn,
.mdBtnTxtIcon {
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 16px;
    margin: 0 8px;
    cursor: pointer;
    width: 150px;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    border: 2px solid #4fc1b1;
}

.mdBtnIcon {
    font-weight: bold;
    border: none;
    color: white;
    padding: 8px 48px;
    margin: 0 16px;
    cursor: pointer;
    height: 36px;
    outline: none;
    border-radius: 50px;
}

.smBtn,
.smBtnTxtIcon {
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    margin: 0 16px;
    cursor: pointer;
    height: auto;
    width: auto;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
}

.smBtnIcon {
    font-weight: bold;
    border: none;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0 16px;
    cursor: pointer;
    height: auto;
    width: auto;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
}

.fas {
    padding-left: 16px;
    float: right;
    text-align: center;
}

.Primary {
    font-weight: bold;
    background-color: #4fc1b1;
    color: white;
    content: '\002B';

}

.Primary:hover {
    font-weight: bold;
    background-color: #4fc1b1;
    transition-duration: 0.4s;
    opacity: 0.8;
    content: '\002B';
    box-shadow: 0 5px 10px #cecece;
}

.Secondary {
    font-weight: bold;
    background-color: #ed9d62;
}

.Secondary:hover {
    font-weight: bold;
    background: #ed9d62;
    transition-duration: 0.4s;
    opacity: 0.8;
    box-shadow: 0 5px 10px #cecece;
}

.Ghost {
    font-weight: bold;
    color: #ed9d62;
    background-color: transparent;
    border: 1px solid #ed9d62;
    width: auto;
}

.Ghost:hover {
    font-weight: bold;
    transition-duration: 0.4s;
    color: #4fc1b1;
    background-color: transparent;
    border: none;
    width: auto;
}

.Disabled {
    color: #777;
}

.Disabled:hover {
    cursor: not-allowed;
}

.checkBox {
    display: block;
    cursor: pointer;
    /* display: inline-block;  */
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #4fc1b1;
}

/*alt option: smaller checkbox
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
} */

.checkBox:hover input~.checkmark {
    border: 1px dashed #4fc1b1;
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px #cecece;
}

.checkBox input:checked~.checkmark {
    background-color: #4fc1b1;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkBox input:checked~.checkmark:after {
    display: block;
}

.checkBox .checkmark:after {
    left: 4px;
    bottom: 3px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* alt option: smaller checkmark 
.checkBox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */

.datePicker {
    display: block;
    border: none;
    border-bottom: 1px solid #253a36;
    padding: 8px;
}

.datePicker:focus {
    outline: none;
}

.dropdown {
    display: inline-block;
    width: 20%;
}

.select {
    cursor: pointer;
    position: relative;
    border: none;
    border-bottom: 1px solid #4fc1b1;
    margin: 8px 8px 16px 0;
}

.select:hover {
    border: none;
    border-bottom: 1px dashed #4fc1b1;
}

.styledSelect {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 10px;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 5px 10px #cecece;
    -moz-box-shadow: 0 5px 10px #cecece;
    box-shadow: 0 5px 10px #cecece;
}

.options li {
    padding: 0 8px;
    margin: 0 0;
    padding: 0 16px;
}

.options li:hover {
    background-color: #4fc1b1;
    color: white;
}

#drop-area {
    border: 2px solid #4fc1b1;
    width: 480px;
    padding: 20px;
}

#drop-area.highlight {
    border: 2px dashed #cbe9e3;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#fileElem {
    display: none;
}

.singleColumn form {
    width: auto;
    height: auto;
    padding: 32px;
    background-color: #f1f1f1;
}

.doubleColumn form {
    width: auto;
    height: auto;
    padding: 32px;
    background-color: #f1f1f1;
}

.formField {
    margin: 32px 0px;
}

.textInput {
    margin: 16px 0;
}

.textLine input {
    background-color: white;
    border: none;
    border-bottom: 1px solid #4fc1b1;
    outline: none;
}

.textLine input:hover {
    background-color: white;
    border: none;
    border-bottom: 1px dashed #4fc1b1;
}

.textLine input[placeholder] {
    padding: 8px;
}

.textbox textarea {
    background-color: white;
    border: 1px solid #4fc1b1;
    margin-top: 8px;
    outline: none;
}

.textbox textarea:hover {
    background-color: white;
    border: 1px dashed #4fc1b1;
}

.textbox textarea[placeholder] {
    padding: 8px;
}

.radioBtn {
    display: block;
    position: relative;
    width: auto;
    padding-left: 24px;
    margin: 8px 16px 8px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioBtn input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.radioDot {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1px solid #4fc1b1;
    border-radius: 50%;
}

.radioBtn:hover input~.radioDot {
    border: 1px dashed #4fc1b1;
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px #cecece;
}

.radioBtn input:checked~.radioDot {
    background-color: #4fc1b1;
}

.radioDot:after {
    content: "";
    position: absolute;
    display: none;
}

.radioBtn input:checked~.radioDot:after {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 24px;
    margin-bottom: 8px;
}

.toggleSwitch {
    margin-bottom: 0;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #4fc1b1;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover {
    border: 1px dashed #4fc1b1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #4fc1b1;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #cbe9e3;
}

/* input:focus+.slider {

} */

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.links p {
    display: inline;
}

/* unvisited link */
.links a:link {
    color: #4fc1b1;
    text-decoration: none;
}

#normal {
    color: #4fc1b1;
    ;
}

/* visited link */
.links a:visited {
    color: #ed9d62;
    text-decoration: none;
}

#visited {
    color: #ed9d62;
}

/* mouse over link */
.links a:hover {
    color: #ed9d62;
    text-decoration: none;
}

#hover {
    color: #ed9d62;
}

/* selected link */
.links a:active {
    color: #cbe9e3;
    text-decoration: none;
}

#active {
    color: #cbe9e3;
}

.loader {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #4fc1b1;
    border-bottom: 16px solid #cbe9e3;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#myBtn {
    border: none;
    background-color: #4fc1b1;
    color: white;
    text-align: center;
    padding: 8px 28px;
    margin: 0 16px;
    cursor: pointer;
    height: 36px;
    width: 190px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
}

.modal {
    display: none;
    position: static;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(203, 232, 227, 0.30);
}

.modalCard {
    background-color: white;
    margin: 36px auto;
    padding: 24px;
    border: 1px solid #4fc1b1;
    width: 80%;
}

.close {
    color: #4fc1b1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalBtns {
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    border-top: 1px solid #4fc1b1;
    border-bottom: 1px solid #4fc1b1;
}

.topnav a {
    float: left;
    color: #262626;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #4fc1b1;
    color: white;
}

.topnav a.active {
    background-color: #4fc1b1;
    color: white;
}

.numInput {
    margin: 16px 0;
    width: 60px;
}

.numLine input {
    background-color: white;
    border: none;
    border-bottom: 1px solid #4fc1b1;
    outline: none;
}

.numLine input:hover {
    background-color: white;
    border: none;
    border-bottom: 1px dashed #4fc1b1;
}

.numLine input[placeholder] {
    padding: 8px;
}

.overFlowBtn {
    cursor: pointer;
    background-color: #4fc1b1;
    padding: 8px;
    border: none;
    outline: none;
    /* border-radius: 50%; */
}

.overFlow {
    position: relative;
    display: inline-block;
}

.overFlowIcon {
    width: 56px;
    height: 56px;
}

.overFlowContent {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    ;
    min-width: 160px;
    box-shadow: 0 5px 10px #cecece;
    z-index: 1;
}

.overFlowContent a {
    color: black;
    width: 200px;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
}

.overFlowContent a:hover {
    background-color: #4fc1b1;
    color: white;
}

.overFlow:hover .overFlowContent {
    display: block;
}

.overFlow:hover .overFlowBtn {
    opacity: 0.8;
    box-shadow: 0 5px 10px #cecece;
    transition-duration: 0.4s;
}

.overFlow img {
    height: 16px;
    width: 16px;
    ;
}

.pagination {
    display: inline-block;
    color: #4fc1b1;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination a {
    float: left;
    border-top: 1px solid #4fc1b1;
    border-bottom: 1px solid #4fc1b1;
    color: #4fc1b1;
    padding: 8px 16px;
    transition: background-color .3s;
}

.active:after {
    content: "";
}

.pagination a.active {
    color: white;
    background-color: #4fc1b1;
}

a:-webkit-any-link {
    text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #cbe9e3;
}

.progress {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.progress h3 {
    text-align: center;
    margin: 4px;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #cbe9e3;
    border-bottom: 1px dashed #4fc1b1;
}

.progress-bar {
    height: 8px;
    background: #4fc1b1;
    width: 0%;
    border-radius: 0 10px 10px 0;
}

.searchbar input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbar input[type=text]:focus {
    width: 100%;
}

.slideScale {
    width: 100%;
}

.slidePoint {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
    background: white;
    border: 1px dashed #4fc1b1;
    border-radius: 50px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidePoint:hover {
    opacity: 1;
    border: 1px solid #4fc1b1;
    background-color: #cbe9e3;
}

.slidePoint::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid #4fc1b1;
    background: #4fc1b1;
    cursor: pointer;
}

.slidePoint::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.tab {
    overflow: hidden;
    border-top: 1px solid #4fc1b1;
    border-right: 1px solid #4fc1b1;
    border-left: 1px solid #4fc1b1;
    border-bottom: 1px dashed #4fc1b1;
    background-color: white;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #4fc1b1;
    color: white;
}

.tab button.active {
    background-color: #4fc1b1;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4fc1b1;
    border-top: none;
}

.topright {
    float: right;
    cursor: pointer;

}

.fa-times {
    height: 16px;
    width: 16px;
    color: #4fc1b1;
}
